/*Selector {
  Property : value;
}*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family:'Hepta Slab', serif;
}

.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 .container {
  display: block;
  margin: auto;
  border-bottom: 3px solid black;
  width: 80%;
  margin-bottom: 90px;
}

 h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 400px) {
  h1 {
    font-size: 2.5rem;
  }
 } 

@media (max-width: 300px) {
 h1 {
   font-size: 1.7rem;
 }
} 

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1px;
 }

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 1px;
}
 
 .column img {
  margin-top: 1px;
  vertical-align: middle;
  transition: all 1s ease-in-out;
}

.column img:hover {
  transform: scale(0.9);
}

@media (max-width: 800px) {
  .column{
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media (max-width: 300px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media (max-width: 200px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


.header2 {
  display: block;
  margin: auto;
  width: 40%;
  border-bottom: 3px solid black;
  margin-top: 80px;
}


h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.image img {
  display: block;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  width: 20%;
}

@media (max-width: 600px) {
  .image img {
    width: 30%;
  }
}


p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.header3 {
  display: block;
  margin: auto;
  margin-top: 80px;
  width: 40%;
  border-bottom: 3px solid black;
}


button {
  display: block;
  margin: auto;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  border-radius: 10%;
}